{% for item in items %}
    {% set productUrl = domain ~ '/product/' ~ item.product.alias %}
    <tr>
        <td align="left" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:25px;padding-right:25px;border-radius:12px 12px 0px 0px"><!--[if mso]><table style="width:720px" cellpadding="0" cellspacing="0"><tr><td style="width:120px" valign="top"><![endif]-->
            <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                <tr>
                    <td class="es-m-p0r" align="left" style="padding:0;Margin:0;width:100px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" style="padding:0;Margin:0;font-size:0px">
                                    <a target="_blank" href="{{ productUrl }}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2CB543;font-size:14px">
                                        <img src="{{ item.product.gallery[0].path }}" alt="{{ item.product.name }}" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="100" item="{{ item.product.name }}">
                                    </a>
                                </td>
                            </tr>
                        </table></td>
                    <td class="es-hidden" style="padding:0;Margin:0;width:20px"></td>
                </tr>
            </table><!--[if mso]></td><td style="width:480px" valign="top"><![endif]-->
            <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                <tr>
                    <td align="left" style="padding:0;Margin:0;width:480px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" style="padding:0;Margin:0">
                                    <span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#ffffff;border-width:0px;display:inline-block;border-radius:50px;width:auto">
                                        <a href="{{ productUrl }}" class="es-button es-button-4" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size:14px;border-style:solid;border-color:#ffffff;border-width:0px 0px 15px;display:inline-block;background:#ffffff;border-radius:50px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left">
                                            {{ item.product.name }}
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">{{ item.quantity }} {{ item.product.unit }}</p></td>
                            </tr>
                        </table></td>
                </tr>
            </table><!--[if mso]></td><td style="width:20px"></td><td style="width:100px" valign="top"><![endif]-->
            <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                <tr><td align="left" style="padding:0;Margin:0;width:100px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" style="padding:0;Margin:0"><span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:50px;width:auto;margin-top:15px;"><a href="" class="es-button es-button-3" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size:14px;border-style:solid;border-color:#f5f5f5;border-width:5px 15px;display:inline-block;background:#f5f5f5;border-radius:50px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:17px;width:auto;text-align:center;padding-left: 15px;padding-right:15px;">{{ (item.total / 100)|format(2, ".", " ") }}&nbsp;₽</a></span></td>
                            </tr>
                        </table></td></tr>
            </table><!--[if mso]></td></tr></table><![endif]--></td>
    </tr>
{% endfor %}