<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>{% block title %}{% endblock %}</title><!--[if (mso 16)]>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
    <![endif]--><!--[if gte mso 9]>
    <style>sup {
        font-size: 100% !important;
    }</style><![endif]--><!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG></o:AllowPNG>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .es-button {
            mso-style-priority: 100 !important;
            text-decoration: none !important;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .es-desk-hidden {
            display: none;
            float: left;
            overflow: hidden;
            width: 0;
            max-height: 0;
            line-height: 0;
            mso-hide: all;
        }

        [data-ogsb] .es-button {
            border-width: 0 !important;
            padding: 10px 20px 10px 20px !important;
        }

        [data-ogsb] .es-button.es-button-1 {
            padding: 15px !important;
        }

        [data-ogsb] .es-button.es-button-2 {
            padding: 0px !important;
        }

        @media only screen and (max-width: 600px) {
            p, ul li, ol li, a {
                line-height: 150% !important
            }

            h1, h2, h3, h1 a, h2 a, h3 a {
                line-height: 120% !important
            }

            h1 {
                font-size: 30px !important;
                text-align: center
            }

            h2 {
                font-size: 26px !important;
                text-align: center
            }

            h3 {
                font-size: 20px !important;
                text-align: center
            }

            .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a {
                font-size: 30px !important
            }

            .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a {
                font-size: 26px !important
            }

            .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a {
                font-size: 16px !important
            }

            .es-menu td a {
                font-size: 16px !important
            }

            .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a {
                font-size: 14px !important
            }

            .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a {
                font-size: 14px !important
            }

            .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a {
                font-size: 16px !important
            }

            .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a {
                font-size: 12px !important
            }

            *[class="gmail-fix"] {
                display: none !important
            }

            .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 {
                text-align: center !important
            }

            .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 {
                text-align: right !important
            }

            .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 {
                text-align: left !important
            }

            .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img {
                display: inline !important
            }

            .es-button-border {
                display: block !important
            }

            a.es-button, button.es-button {
                font-size: 16px !important;
                display: block !important;
                border-left-width: 0px !important;
                border-right-width: 0px !important
            }

            .es-adaptive table, .es-left, .es-right {
                width: 100% !important
            }

            .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header {
                width: 100% !important;
                max-width: 600px !important
            }

            .es-adapt-td {
                display: block !important;
                width: 100% !important
            }

            .adapt-img {
                width: 100% !important;
                height: auto !important
            }

            .es-m-p0 {
                padding: 0 !important
            }

            .es-m-p0r {
                padding-right: 0 !important
            }

            .es-m-p0l {
                padding-left: 0 !important
            }

            .es-m-p0t {
                padding-top: 0 !important
            }

            .es-m-p0b {
                padding-bottom: 0 !important
            }

            .es-m-p20b {
                padding-bottom: 20px !important
            }

            .es-mobile-hidden, .es-hidden {
                display: none !important
            }

            tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden {
                width: auto !important;
                overflow: visible !important;
                float: none !important;
                max-height: inherit !important;
                line-height: inherit !important
            }

            tr.es-desk-hidden {
                display: table-row !important
            }

            table.es-desk-hidden {
                display: table !important
            }

            td.es-desk-menu-hidden {
                display: table-cell !important
            }

            .es-menu td {
                width: 1% !important
            }

            table.es-table-not-adapt, .esd-block-html table {
                width: auto !important
            }

            table.es-social {
                display: inline-block !important
            }

            table.es-social td {
                display: inline-block !important
            }

            .es-desk-hidden {
                display: table-row !important;
                width: auto !important;
                overflow: visible !important;
                max-height: inherit !important
            }

            .es-m-p5 {
                padding: 5px !important
            }

            .es-m-p5t {
                padding-top: 5px !important
            }

            .es-m-p5b {
                padding-bottom: 5px !important
            }

            .es-m-p5r {
                padding-right: 5px !important
            }

            .es-m-p5l {
                padding-left: 5px !important
            }

            .es-m-p10 {
                padding: 10px !important
            }

            .es-m-p10t {
                padding-top: 10px !important
            }

            .es-m-p10b {
                padding-bottom: 10px !important
            }

            .es-m-p10r {
                padding-right: 10px !important
            }

            .es-m-p10l {
                padding-left: 10px !important
            }

            .es-m-p15 {
                padding: 15px !important
            }

            .es-m-p15t {
                padding-top: 15px !important
            }

            .es-m-p15b {
                padding-bottom: 15px !important
            }

            .es-m-p15r {
                padding-right: 15px !important
            }

            .es-m-p15l {
                padding-left: 15px !important
            }

            .es-m-p20 {
                padding: 20px !important
            }

            .es-m-p20t {
                padding-top: 20px !important
            }

            .es-m-p20r {
                padding-right: 20px !important
            }

            .es-m-p20l {
                padding-left: 20px !important
            }

            .es-m-p25 {
                padding: 25px !important
            }

            .es-m-p25t {
                padding-top: 25px !important
            }

            .es-m-p25b {
                padding-bottom: 25px !important
            }

            .es-m-p25r {
                padding-right: 25px !important
            }

            .es-m-p25l {
                padding-left: 25px !important
            }

            .es-m-p30 {
                padding: 30px !important
            }

            .es-m-p30t {
                padding-top: 30px !important
            }

            .es-m-p30b {
                padding-bottom: 30px !important
            }

            .es-m-p30r {
                padding-right: 30px !important
            }

            .es-m-p30l {
                padding-left: 30px !important
            }

            .es-m-p35 {
                padding: 35px !important
            }

            .es-m-p35t {
                padding-top: 35px !important
            }

            .es-m-p35b {
                padding-bottom: 35px !important
            }

            .es-m-p35r {
                padding-right: 35px !important
            }

            .es-m-p35l {
                padding-left: 35px !important
            }

            .es-m-p40 {
                padding: 40px !important
            }

            .es-m-p40t {
                padding-top: 40px !important
            }

            .es-m-p40b {
                padding-bottom: 40px !important
            }

            .es-m-p40r {
                padding-right: 40px !important
            }

            .es-m-p40l {
                padding-left: 40px !important
            }
        }
    </style>
</head>
<body style="width:100%;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
<div class="es-wrapper-color" style="background-color:#F6F6F6"><!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#f6f6f6"></v:fill>
    </v:background>
    <![endif]-->
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0"
           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top">
        <tr>
            <td valign="top" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" class="es-content" align="center"
                       style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
                    <tr>
                        <td align="center" style="padding:0;Margin:0">
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0"
                                   cellspacing="0"
                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:770px">
                                <tr>
                                    <td class="es-m-p20r es-m-p20l" align="left" style="padding:40px;Margin:0">
                                        <!--[if mso]>
                                        <table style="width:690px" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width:338px" valign="top"><![endif]-->
                                        <table cellpadding="0" cellspacing="0" class="es-left" align="left"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                                            <tr>
                                                <td class="es-m-p0r es-m-p20b" align="center"
                                                    style="padding:0;Margin:0;width:338px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="left" style="padding:0;Margin:0;font-size:0px"><a
                                                                        target="_blank"
                                                                        href="{{ domain }}/"
                                                                        style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2CB543;font-size:14px"><img
                                                                            class="adapt-img"
                                                                            src="{{ domain }}/mail/media/groster_logo.png"
                                                                            alt
                                                                            style="    max-width: 175px;width: 175px !important;display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                            width="175"></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td>
                                        <td style="width:15px"></td>
                                        <td style="width:337px" valign="top"><![endif]-->
                                        <table cellpadding="0" cellspacing="0" class="es-right" align="right"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                                            <tr>
                                                <td align="center" style="padding:0;Margin:0;width:337px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr class="es-mobile-hidden">
                                                            <td align="right" style="padding:0;Margin:0"><span
                                                                        class="es-button-border"
                                                                        style="border-style:solid;border-color:#2CB543;background:#ffffff;border-width:0px;display:inline-block;border-radius:0px;width:auto;border-bottom-width:0px"><a
                                                                            href="tel:88442203635"
                                                                            class="es-button es-button-1"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size:16px;border-style:solid;border-color:#ffffff;border-width:15px;display:inline-block;background:#ffffff;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:19px;width:auto;text-align:center">8 (8442) 20-36-35</a></span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td></tr></table><![endif]--></td>
                                </tr>
                                <!-- CONTENT -->
                                {% block content %}{% endblock %}
                                <!-- CONTENT -->
                                <tr>
                                    <td class="es-m-p20r es-m-p20l" align="left" bgcolor="#F5F5F5"
                                        style="padding:40px;Margin:0;background-color:#f5f5f5">
                                        <table cellpadding="0" cellspacing="0" width="100%"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr>
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:690px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="tel:88442203635"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/phone.png"
                                                                                alt="icon" width="20" align="absmiddle"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px">
                                                                        <!--<![endif]-->8 (8442) 20-36-35</a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="tel:+7905330-36-35"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/chat.png"
                                                                                alt="icon" width="20"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px"
                                                                                align="absmiddle"><!--<![endif]-->+7 905 330-36-35</a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="https://wa.me/+79053303635"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/whatsapp.png"
                                                                                alt="icon" width="20"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px"
                                                                                align="absmiddle"><!--<![endif]-->WhatsApp</a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:15px"><p
                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">
                                                                    Отдел продаж</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="mailto:zakaz@groster.me?subject=%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%20%D0%B2%20%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%20%D0%BF%D1%80%D0%BE%D0%B4%D0%B0%D0%B6"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/email.png"
                                                                                alt="icon" align="absmiddle" width="20"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px">
                                                                        <!--<![endif]-->zakaz@groster.me</a></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:15px"><p
                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">
                                                                    Отдел закупок</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="mailto:info@groster.me?subject=%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%20%D0%B2%20%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%20%D0%B7%D0%B0%D0%BA%D1%83%D0%BF%D0%BE%D0%BA"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/email.png"
                                                                                alt="icon" width="20"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px"
                                                                                align="absmiddle"><!--<![endif]-->zakupki@groster.me</a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="es-m-txt-l"
                                                                style="padding:0;Margin:0;padding-bottom:5px;padding-top:15px">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#2CB543;background:#f5f5f5;border-width:0px;display:inline-block;border-radius:0px;width:auto"><a
                                                                            href="https://yandex.ru/maps/-/CCUF4CG2kB"
                                                                            class="es-button es-button-2"
                                                                            target="_blank"
                                                                            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 14px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:#f5f5f5;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left"><!--[if !mso]><!-- --><img
                                                                                src="{{ domain }}/mail/media/map.png"
                                                                                alt="icon" width="20"
                                                                                style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px"
                                                                                align="absmiddle"><!--<![endif]-->Волгоград ул. Кольцевая 64</a></span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="es-m-p20r es-m-p20l" align="left"
                                        style="Margin:0;padding-top:25px;padding-bottom:25px;padding-left:40px;padding-right:40px">
                                        <table cellpadding="0" cellspacing="0" width="100%"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr>
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:690px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="left" style="padding:0;Margin:0"><p
                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;color:#7a7a7a;font-size:12px">
                                                                    {{ 'now' | date('Y') }} © Гростер</p></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
