{% extends 'email/base.html.twig' %}

{% block title %}Новое коммерческое предложение в интернет-магазине Гростер{% endblock %}

{% block content %}
    <tr>
        <td class="es-m-p20r es-m-p20l" align="left" style="Margin:0;padding-top:15px;padding-bottom:20px;padding-left:40px;padding-right:40px">
            <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                <tr>
                    <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" class="es-m-txt-l" style="padding:0;Margin:0;padding-bottom:40px"><h1 style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:26px;font-style:normal;font-weight:bold;color:#040404">Новое коммерческое предложение</h1></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-bottom:30px"><ul style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:16px;list-style:none;padding:0;">
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Категория:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ category }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Бренд:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ brand }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Представленность в крупных сетях:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ representation }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Cтатус представителя:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ status }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">ФИО:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ fio }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Телефон:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;"><a href="tel:{{ phone }}" class="es-button es-button-2" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 16px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:transparent;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left">{{ phone }}</a></p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Email:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;"><a href="mailto:{{ email }}" class="es-button es-button-2" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 16px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:transparent;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left">{{ email }}</a></p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 10px 0;color:#7a7a7a;font-size:14px;">Бренд в соц. сетях:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ socialBrand }}</p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 5px 0;color:#7a7a7a;font-size:14px;">Сайт компании:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;"><a href="{{ site }}" class="es-button es-button-2" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#bc39e5;font-size: 16px !important;border-style:solid;border-color:#f5f5f5;border-width:0px;display:inline-block;background:transparent;border-radius:0px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:left">{{ site }}</a></p></li>
                                        <li style="margin-bottom:10px;"><p style="width:100%;display:inline-block;margin:0 0 10px 0;color:#7a7a7a;font-size:14px;">Дополнительная информация:</p><p style="width:100%;display:inline-block;margin:0 0 10px 0;">{{ info }}</p></li>
                                    </ul></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>
{% endblock %}