{% extends 'email/base.html.twig' %}

{% block title %}Создание учетной записи Гростер{% endblock %}

{% block content %}
    <tr>
        <td class="es-m-p20r es-m-p20l" align="left" style="Margin:0;padding-top:15px;padding-bottom:40px;padding-left:40px;padding-right:40px">
            <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                <tr>
                    <td align="center" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" class="es-m-txt-l" style="padding:0;Margin:0;padding-bottom:40px"><h1 style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:26px;font-style:normal;font-weight:bold;color:#040404"><strong>Вы создали учетную запись Гростер</strong></h1></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">Уважаемый клиент!<br><br>Сразу после входа в свою учетную запись Гростер Вы сможете воспользоваться выгодными преимуществами и получить еще более приятные впечатления от совершения покупок.<br><br>После создания учетной записи вы сможете:<br><br></p></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">&nbsp;—&nbsp;получать нашу новостную рассылку</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">&nbsp;—&nbsp;создавать свой список желаний</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">&nbsp;—&nbsp;совершать покупки быстрее</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:28px;color:#040404;font-size:14px">&nbsp;—&nbsp;отслеживать статус своих заказов и возвратов товара.<br><br>До скорой встречи!</p></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>
{% endblock %}