{% extends 'email/base.html.twig' %}

{% block title %}Проверочный код | Гростер{% endblock %}

{% block content %}
    <tr>
        <td class="es-m-p20r es-m-p20l" align="left" style="Margin:0;padding-top:15px;padding-bottom:20px;padding-left:40px;padding-right:40px">
            <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                <tr>
                    <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" class="es-m-txt-l" style="padding:0;Margin:0;padding-bottom:40px"><h1 style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:26px;font-style:normal;font-weight:bold;color:#040404">Ваш проверочный код</h1></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-bottom:30px">
                                    <p style="margin:0 0 10px 0;width:100%;text-align:left;"><span style="margin:0;padding:4px 10px;font-size: 24px;line-height:115%;width:auto;font-weight: bold;letter-spacing:1px;background:#BC39E5;color:white;display:inline-block">{{ code }}</span></p>
                                </td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>
{% endblock %}

