{% extends 'email/base.html.twig' %}

{% block title %}Товары в наличии в интернет-магазине Гростер{% endblock %}

{% block content %}
        <tr>
                <td class="es-m-p20r es-m-p20l" align="left" style="Margin:0;padding-top:15px;padding-bottom:20px;padding-left:40px;padding-right:40px">
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                <tr>
                                        <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                                <td align="left" class="es-m-txt-l" style="padding:0;Margin:0;padding-bottom:40px"><h1 style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:26px;font-style:normal;font-weight:bold;color:#040404">Товары в наличии</h1></td>
                                                        </tr>
                                                        <tr>
                                                                <td align="left" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">Рады сообщить, что у нас доступны к заказу товары, которые Вы ожидали.</p></td>
                                                        </tr>
                                                </table></td>
                                </tr>
                        </table></td>
        </tr>

        <!-- CONTENT - PRODUCTS -->
        {% include 'email/_products.html.twig' with {'items': waitings} %}
        <!-- CONTENT - PRODUCTS -->

{#        <tr>#}
{#                <td align="left" class="esd-block-button" style="padding-left:25px;padding-right:25px;">#}
{#                                                <span class="es-button-border">#}
{#                                                    <a href="{{ domain }}/product/konteyner-yuplast-200-ml-108-82-100sht-up-1000sht-kor-komplekt" class="es-button es-button-1661949928896" target="_blank" style="border-width: 14px 32px;">Перейти в карточку товара</a>#}
{#                                                </span>#}
{#                </td>#}
{#        </tr>#}
{% endblock %}