{% extends 'email/base.html.twig' %}

{% block title %}Оформление заказа в интернет-магазине Гростер{% endblock %}

{% block content %}
    <tr>
        <td class="es-m-p20r es-m-p20l" align="left" style="Margin:0;padding-top:15px;padding-bottom:20px;padding-left:40px;padding-right:40px">
            <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                <tr>
                    <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" class="es-m-txt-l" style="padding:0;Margin:0;padding-bottom:40px"><h1 style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:26px;font-style:normal;font-weight:bold;color:#040404">Вы оформили заказ {{ order.id }}</h1></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-bottom:30px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">Наш специалист свяжется с вами, если потребуется дополнительная информация для&nbsp;подтверждения заказа.</p></td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;border-left:1px solid #dedede;border-right:1px solid #dedede;border-top:1px solid #dedede;border-bottom:1px solid #dedede;border-radius:12px" role="presentation">
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">{{ order.shippingDate|date('d.m.Y') }}</p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-bottom:5px;padding-top:10px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px"><strong>{{ order.stateTitle }}</strong></p></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-bottom:10px;padding-left:20px;padding-right:20px"><span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#ffffff;border-width:0px;display:inline-block;border-radius:50px;width:auto"><a href="" class="es-button es-button-2" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#040404;font-size:18px;border-style:solid;border-color:#ffffff;border-width:0px;display:inline-block;background:#ffffff;border-radius:50px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:bold;font-style:normal;line-height:22px;width:auto;text-align:center;">{{ (order.total / 100)|format(2, ".", " ") }}&nbsp;₽</a></span></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:10px;Margin:0;font-size:0">
                                    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                        <tr>
                                            <td style="padding:0;Margin:0;border-bottom:1px solid #dedede;background:unset;height:1px;width:100%;margin:0px"></td>
                                        </tr>
                                    </table></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-bottom:5px;padding-top:15px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#7a7a7a;font-size:14px">Получатель</p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">{{ order.fio }}, {{ order.phone }}</p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-bottom:5px;padding-top:15px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#7a7a7a;font-size:14px">Доставка</p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px">
                                    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">
                                        <strong>
                                            {% if order.shippingCost > 0 %}
                                                {{ (order.shippingCost / 100)|format(2, ".", " ") }}&nbsp;₽
                                            {% else %}
                                                Бесплатно
                                            {% endif %}
                                        </strong>
                                        {{ order.shippingMethod.name }}. {{ order.shippingAddress }}
                                    </p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-bottom:5px;padding-top:15px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#7a7a7a;font-size:14px">Оплата</p></td>
                            </tr>
                            <tr>
                                <td align="left" style="Margin:0;padding-top:5px;padding-bottom:20px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px">{{ order.paymentMethod.name }}</p></td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="padding:0;Margin:0;width:690px">
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:21px;color:#040404;font-size:14px"><br></p></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0">
                                    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                        <tr>
                                            <td style="padding:0;Margin:0;border-bottom:1px solid #dedede;background:unset;height:1px;width:100%;margin:0px"></td>
                                        </tr>
                                    </table></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>

    <!-- CONTENT - PRODUCTS -->
    {% include 'email/_products.html.twig' with {'items': order.items} %}
    <!-- CONTENT - PRODUCTS -->

    <tr>
        <td align="left" class="esd-block-button" style="padding-left:25px;padding-right:25px;">
                                        <span class="es-button-border">
                                            <a href="{{ domain }}/account/history" class="es-button es-button-1661949928896" target="_blank" style="border-width: 14px 32px;">Перейти в мои заказы</a>
                                        </span>
        </td>
    </tr>
{% endblock %}